.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.player {
  width: 100%;
  height: 100%;
}

.player iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.error p {
  margin: 0;
  font-size: 16px;
}
